# DoS Attacks & Dectection 
                                                         Jean-Gaspar COLLARD,Theophane MARTEAU,Yan GUO

In this Jupyter noterbook, we focus on talking on something about Denial of Service(DoS).

It is very known that Denial of Service (DoS) attacks is constantly growing over time. So we need to talk it in detail.
- DoS/DDoS attack & their principle
- KDD Dataset presentation
- Solution to detect a DoS attack

# I.I What's a DoS attack

Denial-of-service(DoS) attack is an attempt to make a machine or network resource unavailable to its intended users, such as to temporarily or indefinitely interrupt or suspend services of a host connected to the Internet.
Distributed denial-of-service (DDoS) is where the attack source is more than one, often thousands of, unique IP addresses.

# I.II The principle of DoS/DDoS attack

**How a *service* can be denied to a user?**

![](figs/device_infra_users7.png?raw=true)

**1.SYN Flood Attack**

It’s half open attack. The attack involves having a client repeatedly send SYN(synchronization) packets to every port on a server, using fake IP addresses. When an attack begins, the server sees the equivalent of multiple attempts to establish communications. The server responds to each attempt with a SYN/ACK(synchronization acknowledged) packet from each open port, and with a RST(reset) packet from each closed port.

![](figs/SYNFlood.jpeg?raw=true)

**2.Resource Consumption Attack**

Flooding a server such as a web, mail or print server can cause the daemon to drop/refuse legitimate requests to websites, mail boxes or printers respectively. This time whilst the network equipment can handle the large volume of requests the actual software may not be able to.

- Websites may do down because an attacker is creating a large amount of requests to an HTTP server.
- A mail server(SMTP/POP etc) can fail if its “mail bombed”. This is the act of sending hundreds and thousands of bogus emails in a very short amount of time.
- In an office your printing ability can be denied by a malicious co-worker or worse a network vulnerability which causes an attack by sending several large printing jobs or perhaps corrupted print jobs that can stall the printer.

Attackers can take advantage of bugs in software which may cause CPU/memory usage to dramatically increase potentially denying access not only its service but to all services offered by that machine.

**3.Flood of normal traffic**

Flooding a network can cause network equipment such as routers and switches to be overwhelmed to such an extent that they start to affect the speed or success of legitimate network traffic. Basically all available bandwidth is consumed and no bandwidth remains for legitimate use.

# II.KDD Dataset presentation
Here we choose to work with the KDD Cup 99 data set, which is a commonly used data set for DOS attack test and studies.

The 1998 DARPA Intrusion Detection Evaluation Program was prepared and managed by MIT Lincoln Labs. The objective was to survey and evaluate research in intrusion detection.  A standard set of data to be audited, which includes a wide variety of intrusions simulated in a military network environment, was provided. The 1999 KDD intrusion detection contest uses a version of this dataset.

Lincoln Labs set up an environment to acquire nine weeks of raw TCP dump data for a local-area network simulating a typical U.S. Air Force LAN.  They operated the LAN as if it were a true Air Force environment, but peppered it with multiple attacks.

The raw training data was about four gigabytes of compressed binary TCP dump data from seven weeks of network traffic.  This was processed into about five million connection records.  Similarly, the two weeks of test data yielded around two million connection records.

A connection is a sequence of TCP packets starting and ending at some well defined times, between which data flows to and from a source IP address to a target IP address under some well defined protocol.  Each connection is labeled as either normal, or as an attack, with exactly one specific attack type.

Attacks fall into four main categories:
- DOS: denial-of-service;
- R2L: unauthorized access from a remote machine, e.g. guessing password;
- U2R:  unauthorized access to local superuser privileges, e.g., various "buffer overflow" attacks;
- probing: surveillance and other probing, e.g., port scanning.

The datasets contain a total of 24 training attack types, with an additional 14 types in the test data only.

We use the 10% version. It’s a record of 494 021 connections records. Each record possess 41 feature  and consists of about 100 bytes, and is labeled as normal or attack, the first 9 features are the basic ones (duration, protocol, …), next 13 are the one gain by using domain knowledge(number of failed login, number of root access, …), last 19 are the one obtained using two-second time windows(number of connection of the host/service, ...).

In [30]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
data_file = "data/kddcup_10_percent_corrected"
df = pd.read_csv(data_file)

In [31]:
df[:5]

,0,tcp,http,SF,181,5450,0.1,0.2,0.3,0.4,...,9.1,1.00.1,0.00.6,0.11.1,0.00.7,0.00.8,0.00.9,0.00.10,0.00.11,normal.
0,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,59,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [32]:
df["8"][:10]

0     8
1     8
2     6
3     6
4     6
5     1
6     5
7     8
8     8
9    18
Name: 8, dtype: int64

In [33]:
df.columns

Index(['0', 'tcp', 'http', 'SF', '181', '5450', '0.1', '0.2', '0.3', '0.4',
       '0.5', '1', '0.6', '0.7', '0.8', '0.9', '0.10', '0.11', '0.12', '0.13',
       '0.14', '0.15', '8', '8.1', '0.00', '0.00.1', '0.00.2', '0.00.3',
       '1.00', '0.00.4', '0.00.5', '9', '9.1', '1.00.1', '0.00.6', '0.11.1',
       '0.00.7', '0.00.8', '0.00.9', '0.00.10', '0.00.11', 'normal.'],
      dtype='object')

In [34]:
df[['5450', '181', 'http', 'SF', '8', '8.1','0.00.4', '0.4', '0.6', '0.2'
]][:15]

    5450  181  http  SF   8  8.1  0.00.4  0.4  0.6  0.2
0    486  239  http  SF   8    8     0.0    0    0    0
1   1337  235  http  SF   8    8     0.0    0    0    0
2   1337  219  http  SF   6    6     0.0    0    0    0
3   2032  217  http  SF   6    6     0.0    0    0    0
4   2032  217  http  SF   6    6     0.0    0    0    0
5   1940  212  http  SF   1    2     0.0    0    0    0
6   4087  159  http  SF   5    5     0.0    0    0    0
7    151  210  http  SF   8    8     0.0    0    0    0
8    786  212  http  SF   8    8     0.0    1    0    0
9    624  210  http  SF  18   18     0.0    0    0    0
10  1985  177  http  SF   1    1     0.0    0    0    0
11   773  222  http  SF  11   11     0.0    0    0    0
12  1169  256  http  SF   4    4     0.0    0    0    0
13   259  241  http  SF   1    1     0.0    0    0    0
14  1837  260  http  SF  11   11     0.0    0    0    0

In [35]:
co="%s%s%s%s%s%s%s%s%s%s"%(df['5450'][0],df['181'][0],df['http'][0],df['SF'][0],df['8'][0],df['8.1'][0],df['0.00.4'][0],df['0.4'][0],df['0.6'][0],df['0.2'][0])
co

'486239httpSF880.0000'

In [36]:
fd = pd.DataFrame(columns=['meetConcat','mNbr'])
fd

Empty DataFrame
Columns: [meetConcat, mNbr]
Index: []

In [37]:
fd.loc[0]=[co,1]
fd

             meetConcat  mNbr
0  486239httpSF880.0000   1.0

In [38]:
(fd['meetConcat']== co).any()

True

In [39]:
(fd['meetConcat']!= co).all()

False

In [40]:
fd.ix[fd.loc[fd['meetConcat']== co].index.tolist(), 'mNbr']+=1
fd

             meetConcat  mNbr
0  486239httpSF880.0000   2.0

In [41]:
ind = len(fd.index)
co="%s%s%s%s%s%s%s%s%s%s"%(df['5450'][ind],df['181'][ind],df['http'][ind],df['SF'][ind],df['8'][ind],df['8.1'][ind],df['0.00.4'][ind],df['0.4'][ind],df['0.6'][ind],df['0.2'][ind])
co

'1337235httpSF880.0000'

In [45]:
if ((fd['meetConcat']!= co).all()):
    fd.loc[ind] = [co, 1]
else:
    fd.ix[fd.loc[fd['meetConcat']== co].index.tolist(), 'mNbr']+=1
fd

              meetConcat  mNbr
0   486239httpSF880.0000   2.0
1  1337235httpSF880.0000   2.0

In [47]:
fd.ix[fd.loc[fd['meetConcat']== co].index.tolist(), 'mNbr']=1
fd

              meetConcat  mNbr
0   486239httpSF880.0000   2.0
1  1337235httpSF880.0000   1.0

# III.Solution to detect a DoS attack

The novel about the DDoS attacks detection proposes several solutions and algorithms to detect an undesirable connection. One of the most interesting proposal consists in applying the “One Pass Incremental Association Rule Detection Algorithm” on the KDD99 dataset. Here is the algorithm :

**Input:** Network Traffic Database

**Output:** Association Rules

**Steps:**

(1) For every record in Database

2. ‘OuterHashKey’ = Concatenation of values of 10   selected features from Database
2. If entry for OuterHashKey is present in Outer HashTable Then

 - i.Increment Pattern Counter (Association.Count) by one
      Else
 - i.Create entry for Outer Hash key in outer Hash Table
 - ii.Initialize Pattern Counter '(Association.Count) to one )done 
2.  ‘InnerHashKey’ = Value of Attack Type field of that record
2. If entry for InnerHashKey is present in Inner Hash Table Then
 - i.Increment Association.AttackType.AttackTypeCounter by one
      Else
 - i. Create an entry for Attack Type in Inner Hash
 - ii. Initialize Association.AttackType.AttackTypeCounter to one

(2) For Every Entry in Outer Hash Table

2.  Support = Association.Count
2.  For Every entry in InnerHashTable
 - i.Confidence = Association.AttackType.AttackTypeCounter/ Association.Count
 - ii.If (Confidence and Support are above Threshold)
3.  Generate Association rule

“OuterHashKey” is the concatenation of 10 characteristics of a connection :
- dst_bytes,
- src_bytes,
- service,
- flag,
- Count,
- srv_count, 
- srv_diff_host_rate,
- hot,
- num_compromised,
- Wrong_fragment